Repository airbnb/javascript, pull requests merged in 2018-06, with the labels that each got.

#1823 Fix broken aria roles link in React style guide README
  react/README.md
Labels: editorial, react

#1828 Add no-unused-vars to README
  README.md
Labels: editorial

#1829 doc: add missing anchor in README.md
  README.md
Labels: editorial

#1782 Ignore order of import statements for unassigned imports
  packages/eslint-config-airbnb-base/rules/imports.js
Labels: semver-breaking: guide change

#1809 Adjust eslint rule import/no-extraneous-dependencies for vue-cli
  packages/eslint-config-airbnb-base/rules/imports.js
Labels: semver-patch: loosen/fix/document rules

#1831 Add new methods introduced in react@16.3
  packages/eslint-config-airbnb/rules/react.js
Labels: react, semver-patch: loosen/fix/document rules
