Repository airbnb/javascript, pull requests merged in 2019-02, with the labels that each got.

#2000 Fix releated to arrow function
  README.md
Labels: editorial

#2006 Turn off react/no-multi-comp
  packages/eslint-config-airbnb/rules/react.js
Labels: react, semver-patch: loosen/fix/document rules

#2004 fix example 4.7 for arrays method callbacks
  README.md
Labels: editorial

#2014 Add explanations and examples for .bind and arrow functions in render path in react components
  react/README.md
Labels: editorial, react
