Repository airbnb/javascript, pull requests merged in 2019-08, with the labels that each got.

#2064 [guide] fix dead jsperf links
  README.md
Labels: editorial

#1863 [eslint config][major][guide] Always require parens around arrow function arguments
  README.md
  packages/eslint-config-airbnb-base/rules/es6.js
  packages/eslint-config-airbnb-base/test/test-base.js
  packages/eslint-config-airbnb/test/test-base.js
Labels: semver-breaking: guide change

#1864 [major][guide][eslint config] Simplifies `no-mixed-operators`
  README.md
  packages/eslint-config-airbnb-base/rules/style.js
Labels: semver-breaking: guide change

#2022 [eslint config] [react] Add support for React Hooks
  packages/eslint-config-airbnb/README.md
  packages/eslint-config-airbnb/hooks.js
  packages/eslint-config-airbnb/package.json
  packages/eslint-config-airbnb/rules/react-hooks.js
  packages/eslint-config-airbnb/test/requires.js
Labels: react, semver-breaking: guide change

#2042 Restrict empty lines at beginning of file
  README.md
  packages/eslint-config-airbnb-base/rules/style.js
Labels: semver-breaking: guide change

#2060 [eslint config] add componentDidCatch to lifecycle for react/sort-comp
  packages/eslint-config-airbnb/rules/react.js
Labels: semver-minor: tighten rules to match guide

#2043 Add missing lifecyle methods to react/sort-comp
  packages/eslint-config-airbnb/rules/react.js
Labels: semver-minor: tighten rules to match guide

#1255 [breaking] `padded-blocks`: enable `allowSingleLineBlocks` option
  packages/eslint-config-airbnb-base/rules/style.js
Labels: semver-breaking: guide change

#1583 Do not prefer destructuring for object assignment expression
  packages/eslint-config-airbnb-base/rules/es6.js
Labels: semver-patch: loosen/fix/document rules

#1966 Add markers to spaced-comment block for Flow types
  packages/eslint-config-airbnb-base/rules/style.js
Labels: semver-patch: loosen/fix/document rules

#2056 Update ref section
  react/README.md
Labels: editorial, react
